//colores usados
c1=#004F7F
c2=#65C4FF
c3=#009EFF
c4=#1D5A7F
c5=#007ECC
fondo=#fff
gris_claro=#dddddc
gris_oscuro=#30302f
gris_medio=#696868
verde_rgb=rgb(28,178,140)
gris_claro_rgb_1=rgb(192,192,192)
gris_claro_rgb_2=rgb(224,224,224)
gris_claro_rgb_3=rgb(240,240,240)
gris_claro_rgba_1=rgba(0, 0, 0, 0.5)
rosa=#df7250
body
	background fondo
	font-size 14px
.contenido
	margin 1em
	font-family arial-regular
	.bloque
		//display inline-block
		width 390px
		//display flex
		.titulo_bloque
			background c5
			color white
			font-family arial-regular
			font-size 25px
			text-align center
			width 200px
		.caja_bloque
			border 1px solid c4
			background gris_claro
			.campos_bloque
				.ul_bloque
					width 800px
					list-style-type none
					margin 0
					padding 0.1em
					.li_bloque
						color black
						font-family arial-regular
						font-size 14px
						padding 0.2em
						.etiqueta_especial
							color white
							background gris_oscuro
							display inline-block
							padding 2px
							border-radius 2px
							width 235px
							text-align center
						.etiquetas_bloque
							width 135px
							margin-top 2px
							display inline-block
							float left
							padding 2px
						.inputs_bloque
							color black
							height 16px
							width 220px
							padding 2px 8px
							border 1px solid white
							box-shadow 0px 0px 1px c1, 0 10px 15px white inset
							border-radius 1px
							&:focus
								border 1px solid c1
						.viñeta
							color c1
							display inline-block
						.textarea_bloque
							color black
							height 80px
							width 220px
							resize vertical
							padding 2px 8px
							border 1px solid white
							box-shadow 0px 0px 1px c1, 0 10px 15px white inset
							border-radius 1px
							&:focus
								border 1px solid c1
						.viñeta
							color c1
							display inline-block
						.select_bloque
							color black
							height 22px
							width 238px
							padding 2px 8px
							border 1px solid white
							box-shadow 0px 0px 1px c1, 0 10px 15px white inset
							border-radius 1px
							&:focus
								border 1px solid c1
						.viñeta
							color c1
							display inline-block
						.error_mostrar
							display inline-block
							display none
							font-size 12px
							position absolute
							-webkit-boxshadow 0 0 10px rgba(0, 0, 0, 0.3)
							-moz-box-shadow 0 0 10px rgba(0, 0, 0, 0.3)
							-o-box-shadow 0 0 10px rgba(0, 0, 0, 0.3)
							background red
							box-shadow 0 0 10px rgba(0, 0, 0, 0.3)
							color white
							padding 3px
							opacity 0.8
							border-radius 3px
							margin-left 4px
						.error_ocultar
							display none
						.radio_bloque:not(old)
								width 2em
								margin 0
								padding 0
								font-size 1em
								opacity 0
								&:not(old) + label
									display inline-block
									margin-left -2em
									line-height 1.5em
								&:not(old) + label > span
									display inline-block
									width 0.875em
									height 0.875em
									margin 0.25em 0.5em 0.25em 0.25em
									border 0.0625em solid gris_claro_rgb_1
									border-radius 0.25em
									background gris_claro_rgb_2
									background-image -moz-linear-gradient(gris_claro_rgb_3,gris_claro_rgb_2)
									background-image -ms-linear-gradient(gris_claro_rgb_3,gris_claro_rgb_2)
									background-image -o-linear-gradient(gris_claro_rgb_3,gris_claro_rgb_2)
									background-image -webkit-linear-gradient(gris_claro_rgb_3,gris_claro_rgb_2)
									background-image linear-gradient(gris_claro_rgb_3,gris_claro_rgb_2)
									vertical-align bottom
								&:not(old):checked + label > span
									background-image -moz-linear-gradient(gris_claro_rgb_2,gris_claro_rgb_3)
									background-image -ms-linear-gradient(gris_claro_rgb_2,gris_claro_rgb_3)
									background-image -o-linear-gradient(gris_claro_rgb_2,gris_claro_rgb_3)
									background-image -webkit-linear-gradient(gris_claro_rgb_2,gris_claro_rgb_3)
									background-image linear-gradient(gris_claro_rgb_2,gris_claro_rgb_3)
								&:not(old):checked +  label > span > span
									display block
									width 0.5em
									height 0.5em
									margin 0.125em
									border 0.0625em solid verde_rgb
									border-radius 0.125em
									background verde_rgb
									background-image -moz-linear-gradient(verde_rgb,verde_rgb)
									background-image -ms-linear-gradient(verde_rgb,verde_rgb)
									background-image -o-linear-gradient(verde_rgb,verde_rgb)
									background-image -webkit-linear-gradient(verde_rgb,verde_rgb)
									background-image linear-gradient(verde_rgb,verde_rgb)
	.formula
		position relative
		.formula_foto
			display inline-block
			margin 0
			padding 0
			img
				width 50px
				height 50px
		.formula_foto p
			margin 0.1em
			font-size 16px
			text-shadow 4px 4px 2px rgba(150, 150, 150, 1)
// mensajes-inicia
.message
	box-shadow inset 0 -1px 0 rgba(255,255,255,.4)
	width 100%
	border 1px solid
	color #fff
	padding 10px
	position fixed
	_position absolute
	text-shadow 0 1px 0 rgba(0,0,0,.5)
	height 50px
	z-index 500
	top 0
	display none
.info
	background-color #4ea5cd
	border-color #3b8eb5
.error
	background-color #de4343
	border-color #c43d3d
.warning
	background-color #eaaf51
	border-color #d99a36
.success
	background-color #61b832
	border-color #55a12c
.message h3
	margin 0 0 0 0
	text-align center
.message p
	margin 0
	text-align center
// mensajes-termina

// inicia pop-up
.img-replace
	display inline-block
	overflow hidden
	text-indent 100%
	color transparent
	white-space nowrap
.cd-popup-trigger
	display block
	width 100px
	height 50px
	line-height 50px
	margin 3em auto
	text-align center
	color #FFF
	font-size 14px
	font-size 0.875rem
	font-weight bold
	text-transform uppercase
	border-radius 50em
	background #35a785
	box-shadow 0 3px 0 rgba(0, 0, 0, 0.07)
.cd-popup
	position fixed
	left 0
	top 0
	height 100%
	width 100%
	// fondo atras pop-up
	background-color rgba(10, 10, 10, 0.7)
	//
	opacity 0
	z-index 800
	visibility hidden
	-webkit-transition opacity 0.3s 0s, visibility 0s 0.3s
	-moz-transition opacity 0.3s 0s, visibility 0s 0.3s
	transition opacity 0.3s 0s, visibility 0s 0.3s
.cd-popup.is-visible
	opacity 1
	visibility visible
	-webkit-transition opacity 0.3s 0s, visibility 0s 0s
	-moz-transition opacity 0.3s 0s, visibility 0s 0s
	transition opacity 0.3s 0s, visibility 0s 0s
.cd-popup-container
	position relative
	width 90%
	max-width 400px
	margin 12em auto
	background #FFF
	border-radius .25em .25em .4em .4em
	text-align center
	box-shadow 0 0 20px rgba(0, 0, 0, 0.2)
	-webkit-transform translateY(-40px)
	-moz-transform translateY(-40px)
	-ms-transform translateY(-40px)
	-o-transform translateY(-40px)
	transform translateY(-40px)
	/* Force Hardware Acceleration in WebKit */
	-webkit-backface-visibility hidden
	-webkit-transition-property -webkit-transform
	-moz-transition-property -moz-transform
	transition-property transform
	-webkit-transition-duration 0.3s
	-moz-transition-duration 0.3s
	transition-duration 0.3s
	a
		color #35a785
		text-decoration none
	ol , ul, li
		margin 0
		padding 0
		border 0
		font-size 100%
		font inherit
		vertical-align baseline
	ol, ul
		list-style none
.cd-popup-container
	.popup_pregunta
		// color letra mensaje pop-up
		color black
		//text-shadow 4px 4px 2px rgba(150, 150, 150, 1)
		padding-top 2.5em
		font-size 16px
	.popup_texto
		color black
		font-size 12px
		padding 0
		margin 0
.cd-popup-container .cd-buttons:after
	content ""
	display table
	clear both
.cd-popup-container .cd-buttons li
	float left
	// por si van 2 botones
	width 50%
	// para un solo boton
	//width 100%
.cd-popup-container .cd-buttons a
	display block
	height 60px
	line-height 60px
	text-transform uppercase
	color #FFF
	-webkit-transition background-color 0.2s
	-moz-transition background-color 0.2s
	transition background-color 0.2s
.cd-popup-container .cd-buttons li:first-child a
	// color fondo boton 1
	background c4
	border-radius 0 0 0 .25em
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover
	// color fondo boton 1, curso sobre
	background-color rosa
.cd-popup-container .cd-buttons li:last-child a
	// color fondo boton 2
	background gris_medio
	border-radius 0 0 .25em 0
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover
	// color fondo boton 2, curso sobre
	background-color rosa
.cd-popup-container .cd-popup-close
	position absolute
	top 8px
	right 8px
	width 30px
	height 30px
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after
	content ''
	position absolute
	top 12px
	width 14px
	height 3px
	background-color #8f9cb5
.cd-popup-container .cd-popup-close::before
	-webkit-transform rotate(45deg)
	-moz-transform rotate(45deg)
	-ms-transform rotate(45deg)
	-o-transform rotate(45deg)
	transform rotate(45deg)
	left 8px
.cd-popup-container .cd-popup-close::after
	-webkit-transform rotate(-45deg)
	-moz-transform rotate(-45deg)
	-ms-transform rotate(-45deg)
	-o-transform rotate(-45deg)
	transform rotate(-45deg)
	right 8px
.is-visible .cd-popup-container
	-webkit-transform translateY(0)
	-moz-transform translateY(0)
	-ms-transform translateY(0)
	-o-transform translateY(0)
	transform translateY(0)
// termina pop-up

